{% extends 'base.html' %}

{% block content %}
    <div class="pl-lg-4 mb-5">

        <section>
            <div class="col-md-6">
                <div class="bannerContent">
                    <h1 class="xlTitle pb-md-3">Регистрация</h1>
                </div>
            </div>
        </section>

        <section>
            <form action="{% url 'register' %}" method="post">
                <div class="mb-3 col-md-auto">
                    {{ form }}
                </div>
                {% csrf_token %}
                <div class="col-md-auto">
                    <button type="submit" class="btn-1 btn-success">Submit</button>
                </div>
            </form>
        </section>
    </div>
{% endblock content %}