{% load movie_tag %}

<div class="search-bar pr-3">
    <h3 class="sear-head editContent" >Поиск фильма</h3>
    <form action="{% url 'movies:search' %}" method="get" class="d-flex editContent" >
        <input type="search" placeholder="Введите название..." name="search" class="form-control">
        <button hidden type="submit" class="btn1 btn">
            <span class="fa fa-search" aria-hidden="true" ></span>
        </button>
    </form>
</div>

<form action="{% url 'movies:filter' %}" method="get" name="filter" style="width:80%">
    <div class="row">

        <div class="col">
            <h3 class="sear-head editContent" >MPAA</h3>
                <select name="mpaa" title="Рейтинг" class="selectpicker" multiple>
                {% get_mpaa as mpaa %}
                {% for label in mpaa %}
                    <option value="{{ label.0 }}">{{ label.0 }}</option>
                {% endfor %}
                </select>
        </div>

        <div class="col">
            <h3 class="sear-head editContent" >Жанры</h3>
            <select name="genre" title="Жанры" class="selectpicker" multiple>
            {% get_genres as genres%}
            {% for genre in genres %}
                <option value="{{ genre.name }}">{{ genre.name }}</option>
            {% endfor %}
            </select>
        </div>

        <div class="col-lg-4 pr-5" style="max-width:350px">
            <h3 class="sear-head editContent" >Год</h3>
            <div id="slider-date" class="my-3">
                <input id="min-max" type="hidden" name="year">
            </div>
        </div>
        <button type="submit" class="btn-2 col">Найти</button>
    </div>
</form>
