{% load movie_tag %}
{% load cache %}

{% cache 500 sidebar %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent" >Поиск фильма</h3>
    <form action="{% url 'movies:search' %}" method="get" class="d-flex editContent" >
        <input type="search" placeholder="Введите название..." name="search" class="form-control">
        <button hidden type="submit" class="btn1 btn">
            <span class="fa fa-search" aria-hidden="true" ></span>
        </button>
    </form>
</div>
<!--preference -->

<form action="{% url 'movies:filter' %}" method="get" name="filter">
    <div class="left-side my-4">
        <h3 class="sear-head editContent" >Жанры</h3>
        <ul class="w3layouts-box-list">
            {% get_genres as genres%}
            {% for genre in genres %}
            <li class="editContent" >
                <input type="checkbox" class="checked" name="genre" value="{{ genre.name }}">
                <span class="span editContent" >{{ genre.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="left-side">
        <h3 class="sear-head editContent" >Год</h3>
        <ul class="w3layouts-box-list">
            {% get_years as years%}
            {% for year in years %}
            <li class="editContent" >
                <input type="checkbox" class="checked" name="year" value="{{ year.year }}">
                <span class="span editContent" >{{ year.year }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit" class="btn">Найти</button>
</form>
{% endcache %}