<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tags template example</title>
</head>
<body>
    <h1>Даты</h1>
    <p>{% now "Y" %}</p>
    <p>{% now "F j Y" %}</p>
    <p>{% now "N, j, Y" %}</p>
    <p>{% now "N j, Y, P" %}</p>
    <h1>If-else</h1>
    {% if cond == 1 %}
        <p>Значение True</p>
    {% else %}
        <p>Значение False</p>
    {% endif %}

    {% if loop %}
    <ul>
        {% for it in loop_data %}
        <li>{{ it }}</li>
        {% empty %}
        <li>Collection is empty</li>
        {% endfor %}
    </ul>
    {% else %}
    {% endif %}

</body>
</html>