{% extends 'base.html' %}
{% load static %}
{% block header %} feedback-banner {% endblock header %}


<p>Информация о контактах</p>
<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container col-lg-auto">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">Сообщите нам о своей проблеме</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container col-lg-6">
        <form id="contactForm" method="POST" action="/contact/">
        {% csrf_token %}
            <label class="my-lg-3" for="topic">Тема</label>
            {{form.topic}}

            {{form.email.as_hidden}}

            <label class="my-lg-3" for="subject">Сообщение</label>
            {{form.message}}

            <input class='btn btnPrimary my-4' type="submit" value="Отправить">
        </form>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
{% endblock content %}